div.sidebar div:nth-of-type(n+1) {
	margin-bottom: 10px
}

div.sidebar div:nth-of-type(n+1) *{
	display: block;
	font-size: 16px;
	padding: 2px 0px;
	margin: 3px 0px
}

div.sidebar div:nth-of-type(n+1) span{
	font-weight: bold;
	font-size: 18px
}

div.sidebar div:nth-of-type(n+1) a{
	text-decoration: none;
	transition:all ease .1s;
	padding-left: 2px;
	border-radius:5px;
	box-shadow: 1px 1px 2px #999;
	min-height: 50px;
	padding:15px 5px;
	color: white
}

div.sidebar div:nth-of-type(n+1) a:visited{
	color: white
}

div.sidebar div:nth-of-type(n+1) a:hover{
	color:rgb(190, 0, 190);
	box-shadow: 2px 2px 5px #999;
	transform:scale(1.05)
}

div.sidebar div:nth-of-type(n+1) a:active{
	color:red
}