* {
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	width: 100%;
	z-index: 0;
	position: relative;
	display: block;
	overflow-x: hidden
}

#menu-control {
	display: none
}

#blog-title {
	color: white;
	white-space: nowrap;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	font-size: 24px;
	background-color: rgba(25, 25, 25, .9);
	width: 100%;
	z-index: 4;
	cursor: default
}

.menu-container {
	display: block;
	position: fixed;
	/* float: left; */
	top: 0;
	left: 0;
	height: 130%;
	width: 0;
	padding-top: 50px;
	transition: all .2s ease;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	box-shadow: 2px 0px 8px black
}

.menu-container ul {
	position: relative;
	padding: 0;
	margin: 0;
	top: 30%;
	transform: translateY(-50%)
}

.menu-container ul li {
	list-style: none;
	text-align: center;
	white-space: nowrap
}

.menu-container ul li * {
	text-decoration: none;
	color: white;
	display: block;
	padding: 4px 0 0;
	transition: all .3s ease;
	font-size: 24px;
	height: 40px;
	cursor: pointer
}

.menu-container ul li *:hover {
	background-color: rgba(255, 255, 255, .2);
}

.menu-container ul li *:active {
	background-color: gray;
}

.menu-container ul>li+li:before {
	content: '';
	display: block;
	height: 1px;
	margin: 2px 2px
}

[for=menu-control].menu-button-container {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 30px;
	cursor: pointer !important;
	z-index: 4;
	padding-left: 10px;
	padding-top: 2px
}

[for=menu-control].menu-button-container:hover span {
	background-color: white;
}

[for=menu-control].content-mask {
	display: block;
	position: fixed;
	width: 100%;
	height: 200%;
	background-color: rgba(0, 0, 0, .5);
	float: left;
	z-index: 1;
	transition: all .2s ease;
	opacity: 0;
	visibility: hidden;
	top: 0px;
	left: 0px
}

#menu-control:checked~label.content-mask {
	opacity: 1;
	visibility: visible
}

.menu-button span {
	width: 44px;
	height: 3px;
	background-color: #ccc;
	display: block;
	position: relative;
	cursor: pointer;
	transition: all .2s ease-in;
	top: 0px;
	left: 0px
}

.menu-button span:before {
	content: '';
	display: block;
	position: relative;
	margin-top: 5px
}

#menu-control:checked~.menu-button-container .menu-button>span:nth-child(1) {
	transform: rotate(45deg);
	width: 30px;
	top: 8px;
	left: 2px
}

#menu-control:checked~.menu-button-container .menu-button>span:nth-child(2) {
	width: 0px;
	left: 20px
}

#menu-control:checked~.menu-button-container .menu-button>span:nth-child(3) {
	transform: rotate(-45deg);
	width: 30px;
	top: -8px;
	left: 2px
}

.content-border {
	width: 100%;
	position: relative;
	padding: 50px 20px 25px;
	transition: padding .5s ease .1s;
	left: 50%;
	transform: translateX(-50%)
}

.content {
	min-height: 200px;
	max-width: 1000px;
	background-color: rgba(100, 100, 100, .3);
	backdrop-filter: blur(8px);
	border-radius: 15px;
	opacity: 1;
	transition: opacity .5s ease, transform .5s ease;
	cursor: default;
	padding: 15px;
	margin-bottom: 25px;
	text-overflow: ellipsis;
	z-index: 1;
	color: rgb(233, 233, 233);
	/* text-align: center */
}

.content h1 {
	text-align: center;
}

.content:hover {
	opacity: 1;
}

.content img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%
}

.content p {
	font-size: 18px;
	text-align: left
}

.content>span {
	font-size: 24px;
	font-weight: bold
}

.content>span+p:first-letter {
	float: left;
	font-size: 36px;
	font-weight: bold
}

.content p {
	text-indent: 36px;
}

.msg-container {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* min-height: 150px; */
	min-width: 250px;
	max-width: 460px;
	color: white;
	padding-bottom: 40px;
	cursor: default;
	border-radius: 10px;
	box-shadow: 3px 2px 8px rgb(0, 0, 0);
	opacity: 0;
	animation: fadeIn .3s forwards;
	z-index: 999;
	text-overflow: ellipsis;
	word-break: break-word;
	background-color: rgb(50, 50, 50);
}

.msg-header {
	display: block;
	position: relative;
	width: 100%;
	min-height: 40px;
	background-color: rgb(40, 40, 40);
	cursor: move;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
	word-break: break-word
}

.msg-content {
	display: block;
	position: relative;
	width: 100%;
	/* min-height: 70px; */
	max-height:0px;
	/* background-color: rgb(50, 50, 50); */
	cursor: default;
	padding: 10px;
	text-overflow: ellipsis;
	word-break: break-word;
	animation: msgSlideOut 2s linear forwards,fadeIn .5s linear forwards;
	opacity: 0;
	overflow: hidden;
}

.msg-footer {
	display: block;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background-color: rgb(30, 30, 30);
	cursor: default;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	text-align: right;
	text-overflow: ellipsis;
	word-break: break-word
}

.msg-footer span {
	cursor: pointer;
	transition: all .2s ease;
	font-size: 16px;
	padding: 3px 8px;
}

.msg-footer span:hover {
	color: #ccc
}

.msg-footer span:active {
	color: rgb(50, 50, 50)
}

.mask {
	position: fixed;
	display: block;
	width: 100%;
	height: 200%;
	background-color: rgba(95, 95, 95, 0.7);
	z-index: 998;
	opacity: 0;
	top: 0px;
	left: 0px
}

.NotFound {
	display: block;
	position: absolute;
	width:100%;
	text-align: center;
	top:50%;
	transform: translateY(-50%);
	color: white;
	font-size: 24px;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
}

.container:before {
	content: '';
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 150%;
	width: 100%;
	background: black url(../images/bg.jpg) no-repeat top;
	background-size: cover
}

.clearfix:after {
	content: '';
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden
}

.sidebar-border {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 250px;
	background-color: transparent;
	padding-top: 50px;
	overflow-x: hidden;
	padding-bottom: 10px;
	padding-left: 10px
}

.sidebar {
	position: relative;
	display: block;
	width: 100%;
	background-color: rgba(100, 100, 100, .3);
	border-radius: 15px;
	padding: 15px;
	cursor: default;
	color: rgb(233,233,233);
	backdrop-filter: blur(8px);
}

.sidebar div:first-child {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px
}

.sidebar div:nth-of-type(n+1) a {
	border: 1px solid grey;
	border-radius: 5px
}

.loading {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	z-index: 100;
	animation: fadeIn .2s ease .5s forwards;
	opacity: 0;
}

.loading span {
	display: block;
	position: absolute;
	top: 0px;
	left: 45px;
	height: 10px;
	width: 10px;
	background: white;
	border-radius: 10px;
	transform-origin: 5px 50px;
	animation: load 2s cubic-bezier(.6, 0, .4, 1) infinite;

}

.loading span:nth-of-type(1) {
	animation-delay: .125s
}

.loading span:nth-of-type(2) {
	animation-delay: .250s
}

.loading span:nth-of-type(3) {
	animation-delay: .375s
}

.loading span:nth-of-type(4) {
	animation-delay: .5s
}

.loading span:nth-of-type(5) {
	animation-delay: .625s
}

.loading span:nth-of-type(6) {
	animation-delay: .750s
}

.top {
	display: block;
	position: fixed;
	bottom: 10px;
	right: 25px;
	height: 40px;
	width: 40px;
	border: 10px;
	background: #ccc;
	cursor: pointer;
	border: 2px solid gray;
	transition: border .3s ease;
	border-radius: 50%;
	opacity: 0;
}

.top:hover {
	border: 2px solid white;
}

.topBtn:before {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	border-left: 5px solid rgb(30, 30, 30);
	border-top: 5px solid rgb(30, 30, 30);
}

.topBtn:after {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	border-left: 5px solid rgb(30, 30, 30);
	border-top: 5px solid rgb(30, 30, 30);
}

@keyframes load {
	0% {
		transform: rotate(0deg)
	}

	50% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadeOut {
	from {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@keyframes msgSlideOut {
	from {
		max-height: 0px;
	}
	to {
		max-height:760px;
	}
}

@media screen and (min-width:700px) {
	input#menu-control:checked+div.menu-container {
		width: 350px;
		left: 0
	}

	div.content {
		margin-left: auto;
		margin-right: auto
	}

	.content-border {
		padding-left: 260px;
	}

}

@media screen and (max-width:700px) {
	body {
		width: 100%
	}

	div.content {
		opacity: 1
	}

	input#menu-control:checked+div.menu-container {
		width: 100%;
	}

	div.content-border {
		padding: 50px 5px 25px;
	}

	.msg-footer span {
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		text-align: center;
		padding-top: 10px;
		border-radius: 0 0 15px 15px
	}

	.msg-footer span:active {
		background-color: black;
		border-radius: 0px 0px 10px 13px;
		color: white
	}

	.sidebar-border {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0px
	}

	.sidebar div:nth-of-type(n+1) * {
		text-align: center
	}

	.sidebar div:nth-of-type(n+1) a {
		border: 1px solid rgb(255, 255, 255);
		border-radius: 5px
	}
}

@media screen and (max-width:480px) {
	.msg-container {
		max-width: 250px;
	}
}